<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header section -->
    <header class="header-section">
        <div class="header-warp">
            <div class="container">
                <a href="#" class="site-logo">
                    <img src="@Url.Content("~/Content/img/logo04.png")" alt="">
                </a>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
                <ul class="main-menu">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Reservaciones</a></li>
                    <li><a href="#">Novedades</a></li>
                    <li><a href="#">Contáctenos</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Header section end -->
    <!-- Hero section -->
    <section class="hero-section set-bg" data-setbg="@Url.Content("~/Content/img/dbf.jpg")">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-text text-white">
                        <br>
                        <br>
                        <h2>Fundado en 1967</h2>
                        <p>Los gurús de viajes saben muy bien, que si quieres disfrutar de una buena comida a un muy buen precio cuando visitas una nueva ciudad, lo mejor que pueden hacer es ir a donde los lugareños comen...</p>
                        <h5>¡Y en el Sur del estado de Florida,</h5>
                        <h5>Lester Diner es sin duda alguna ese lugar! </h5>
                        <a href="#" class="site-btn">Saber Más<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->
    <!-- Search section -->
    <section class="multi-search-section">
        <div class="msf-warp">
            <div class="container">
                <h5>Haga su Reservación</h5>
                <form class="multi-search-form">
                    <input type="text" placeholder="Nombre">
                    <input type="number" placeholder="Teléfono">
                    <input type="date" placeholder="Día">
                    <input type="time" placeholder="Hora">
                    <input type="number" placeholder="Personas">
                    <button class="site-btn">Reservar <i class="fa fa-angle-right"></i></button>
                </form>
            </div>
        </div>
    </section>
    <!-- Search section end -->
    <!-- Services section -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 service-item">
                    <div class="si-icon">
                        <i class="flaticon-idea"></i>
                    </div>
                    <div class="si-content">
                        <h5>Constante Innovación</h5>
                        <p>Lester Diner siempre está intentando mantenerse lo más actualizado posible a los gustos y preferencias del público con el pasar del tiempo, ideando nuevos platillos que llamen la atención de nuevos clientes, sin dejar a un lado la esencia americana que tanto nos caracteriza.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 service-item">
                    <div class="si-icon">
                        <i class="flaticon-medal"></i>
                    </div>
                    <div class="si-content">
                        <h5>Impecable Reputación</h5>
                        <p>Nuestro nombre ha existido por más de 50 años, en los cuales hemos aprendido a relacionarnos con los clientes y aprender a darles los mejores platillos para su consumo, preparándolos con el mayor esfuerzo y dedicación, que los hace tan especiales y aclamados por el público.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 service-item">
                    <div class="si-icon">
                        <i class="flaticon-question"></i>
                    </div>
                    <div class="si-content">
                        <h5>Siempre a la Orden</h5>
                        <p>Nos encontramos siempre a su servicio y disposición, con el fin de proveerles de la mayor comodidad y satisfacción posible. Atentos siempre a escuchar cualquier duda, consulta o sugerencia que nuestros clientes puedan ofrecernos, con el fin de mejorar nuestros servicios en general.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services section end -->
    <!-- Review section -->
    <section class="review-section spad set-bg" data-setbg="@Url.Content("~/Content/img/bfr.jpg")">
        <div class="container">
            <div class="sec-title text-center text-white">
                <span>Amado por Todo el Mundo</span>
                <h2>Nuestras Reseñas</h2>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="review-slider owl-carousel text-white">
                        <div class="rs-item">
                            <div class="quota">“</div>
                            <h5>El típico American Dinner</h5>
                            <p>Llegamos por recomendación de Trip Advisor, y no nos decepcionó. Amplio parqueo gratuito , la típica imagen de Dinner de una película americana, atención muy amigable de las meseras y un amplio menu. Porciones generosas de buen sabor, probe el bistec con ensalada griega y papas servido con pan con mantequilla. Abierto hasta el atardecer. Volvería.</p>
                            <div class="review-avator set-bg" data-setbg="@Url.Content("~/Content/img/r1.jpg")"></div>
                            <h6>William Sonsonate</h6>
                        </div>
                        <div class="rs-item">
                            <div class="quota">“</div>
                            <h5>Verdadera experiencia Diner</h5>
                            <p>Lo mismo para un desayuno temprano que para una cena tarde en la noche, las opciones son buenas y abundantes. El lugar es sumamente concurrido, y para un desayuno de domingo, puede ser que haya que esperar un rato por una mesa.</p>
                            <div class="review-avator set-bg" data-setbg="@Url.Content("~/Content/img/r2.jpg")"></div>
                            <h6>Carolina Levi</h6>
                        </div>
                        <div class="rs-item">
                            <div class="quota">“</div>
                            <h5>Lo mejor de Miami</h5>
                            <p>Excelente comida, platos abundantes, precio acorde, WiFi y estacionamiento gratuito. Si bien no hablan español, hacen todo lo posible para entender y satisfacer al cliente.</p>
                            <div class="review-avator set-bg" data-setbg="@Url.Content("~/Content/img/r3.jpg")"></div>
                            <h6>Trisha Villa</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Review section end -->
    <!-- Courses section  -->
    <section class="courses-section spad">
        <div class="container">
            <div class="sec-title text-center">
                <span>Para Chuparse los Dedos</span>
                <h2>Nuestros Mejores Platillos</h2>
            </div>
            <div class="course-slider owl-carousel">
                <!-- course -->
                <div class="course-item">
                    <figure class="course-preview">
                        <img src="@Url.Content("~/Content/img/mc1.jpg")" alt="">
                        <div class="price">$8.99</div>
                    </figure>
                    <div class="course-content">
                        <div class="seller-info text-white">
                            <h4>Huevos Benedict</h4>
                        </div>
                        <div class="cc-text">
                            <p>Al estilo muffin inglés, con jamón de Virginia cubierto con salsa holandesa, acompañado de papas fritas o sémola.</p>
                        </div>
                    </div>
                </div>
                <!-- course -->
                <div class="course-item">
                    <figure class="course-preview">
                        <img src="@Url.Content("~/Content/img/mc2.jpg")" alt="">
                        <div class="price">$11.49</div>
                    </figure>
                    <div class="course-content">
                        <div class="seller-info text-white">
                            <h4>Ensalada Griega Especial de Louis</h4>
                        </div>
                        <div class="cc-text">
                            <p>Lechuga crujiente con tomates, pepinos, hojas de uva, aceitunas y queso feta.</p>
                        </div>
                    </div>
                </div>
                <!-- course -->
                <div class="course-item">
                    <figure class="course-preview">
                        <img src="@Url.Content("~/Content/img/mc3.jpg")" alt="">
                        <div class="price">$2.39</div>
                    </figure>
                    <div class="course-content">
                        <div class="seller-info text-white">
                            <h4>Papas a la Fracesa</h4>
                        </div>
                        <div class="cc-text">
                            <p>Papas fritas cortadas en generosas rebanadas, sazonadas ligeramente con sal, acompañadas de pollo a la plancha y salsa ranch.</p>
                        </div>
                    </div>
                </div>
                <!-- course -->
                <div class="course-item">
                    <figure class="course-preview">
                        <img src="@Url.Content("~/Content/img/mc4.jpg")" alt="">
                        <div class="price">$4.39</div>
                    </figure>
                    <div class="course-content">
                        <div class="seller-info text-white">
                            <h4>Aros de Cebolla</h4>
                        </div>
                        <div class="cc-text">
                            <p>Orden de 15 aros en total con elección del aderezo a preferencia del cliente incluida.</p>
                        </div>
                    </div>
                </div>
                <!-- course -->
                <div class="course-item">
                    <figure class="course-preview">
                        <img src="@Url.Content("~/Content/img/mc5.jpg")" alt="">
                        <div class="price">$8.99</div>
                    </figure>
                    <div class="course-content">
                        <div class="seller-info text-white">
                            <h4>Sándwich Gyro</h4>
                        </div>
                        <div class="cc-text">
                            <p>Servido en pan pita con lechuga, tomate, y salsa especial exclusiva del platillo.</p>
                        </div>
                    </div>
                </div>
                <!-- course -->
                <div class="course-item">
                    <figure class="course-preview">
                        <img src="@Url.Content("~/Content/img/mc6.jpg")" alt="">
                        <div class="price">$11.49</div>
                    </figure>
                    <div class="course-content">
                        <div class="seller-info text-white">
                            <h4>Dip Francés</h4>
                        </div>
                        <div class="cc-text">
                            <p>Solomillo de ternera asado en un rollo kaiser tostado con provolone "au-jus" derretido. Servido con papas fritas ensalada de col, y aderezo a preferencia del cliente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Courses section end -->
    <!-- Fact section -->
    <section class="fact-section text-center spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 fact-item">
                    <figure>
                        <img src="@Url.Content("~/Content/img/iconedi.png")" width="90" alt="Icon made by https://www.flaticon.es/autores/gregor-cresnar">
                    </figure>
                    <h2>4</h2>
                    <p>Restaurantes Abiertos 24/7</p>
                </div>
                <div class="col-lg-3 col-sm-6 fact-item">
                    <figure>
                        <img src="@Url.Content("~/Content/img/iconanio.png")" width="90" alt="Icons made by https://www.flaticon.es/autores/freepik">
                    </figure>
                    <h2>52</h2>
                    <p>Años de Experiencia</p>
                </div>
                <div class="col-lg-3 col-sm-6 fact-item">
                    <figure>
                        <img src="@Url.Content("~/Content/img/iconemp.png")" width="90" alt="Icons made by https://www.flaticon.es/autores/freepik">
                    </figure>
                    <h2>+300</h2>
                    <p>Empleados a su Servicio</p>
                </div>
                <div class="col-lg-3 col-sm-6 fact-item">
                    <figure>
                        <img src="@Url.Content("~/Content/img/iconrest.png")" width="90" alt="Icon made by https://www.flaticon.es/autores/pause08">
                    </figure>
                    <h2>+200</h2>
                    <p>Platillos para Disfrutar</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Fact section end -->
    <!-- Newslatter section -->
    <section class="newslatter-section set-bg" data-setbg="@Url.Content("~/Content/img/eml.jpg")">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="sec-title text-white sec-style-2">
                        <span>Correo</span>
                        <h2>¡Escríbenos!</h2>
                    </div>
                </div>
                <div class="col-lg-9 nl-form-warp">
                    <form class="newslatter-form">
                        <input type="text" placeholder="Quejas, sugerencias, o comentarios en general.">
                        <button class="site-btn">Enviar <i class="fa fa-angle-right"></i></button>
                    </form>
                    <p>Valoraremos cada uno de sus mensajes con el fin de hacer sus visitas más placenteras y agradables.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Newslatter section end -->
    <!-- Footer section -->
    <footer class="footer-section pb-0 spad">
        <div class="container">
            <div class="row text-white text-center">
                <div class="col-lg-3 col-sm-6 footer-widget">
                    <h4>Aperitivos</h4>
                    <ul>
                        <li>Combo Griego</li>
                        <br>
                        <li>Mousaka Horneada</li>
                        <br>
                        <li>Pasticcio Horneado</li>
                        <br>
                        <li>Chili Mac</li>
                        <br>
                        <li>Athenian</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 footer-widget">
                    <h4>Desayunos</h4>
                    <ul>
                        <li>Combo Griego</li>
                        <br>
                        <li>Especial Mañanero</li>
                        <br>
                        <li>El Especial de Lester</li>
                        <br>
                        <li>El Diner</li>
                        <br>
                        <li>El Greco</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 footer-widget">
                    <h4>Platillos</h4>
                    <ul>
                        <li>Filete de Tilapia</li>
                        <br>
                        <li>Lasagna de Carne</li>
                        <br>
                        <li>Pavo Asado</li>
                        <br>
                        <li>Hígado de Res</li>
                        <br>
                        <li>El Filete de Lester</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 footer-widget">
                    <h4>Bebidas</h4>
                    <ul>
                        <li>Expresso Americano</li>
                        <br>
                        <li>Chocolate Caliente</li>
                        <br>
                        <li>Té Helado</li>
                        <br>
                        <li>Jugo de Naranja</li>
                        <br>
                        <li>Pepsi</li>
                    </ul>
                </div>
            </div>
            <div class="text-white text-center">
                <br>
                <br>
                <h4>¡Y mucho más!</h4>
                <br>
            </div>
            <div class="footer-bottom">
                <div class="footer-logo">
                    <a href="#">
                        <img src="@Url.Content("~/Content/img/logo04f.png")" width="100" alt="">
                    </a>
                </div>
                <div class="social">
                    <a href="https://www.facebook.com/lestersdiner/"><i class="fa fa-facebook"></i> Facebook</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="text-white  text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Derechos Reservados | Plantilla hecha con Colorlib.
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
</body>